@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

body {
    background-color: #1f242d;
    color: #fff;
    font-size: 62.5%;
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 2rem 9%;
    background-color: #373c49;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 10vh;
    z-index: 100;
}

.header .sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

#menu-icon {
    font-size: 3.6rem;
    color: #fff;
    display: none;
    margin-top: -10px;
}

.header {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 40px;
    cursor: default;
    color: #fff;
    font-weight: 600;
    margin-top: -2vh;
    color: rgb(250, 115, 19);
    ;

}

.navbar a {
    margin-left: 20px;
    font-size: 1rem;
    font-weight: 100;
    color: #fff;
    transition: .3ms;
}

header nav a.active,
header nav a:hover {
    color: rgba(249, 108, 7, 0.759);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

#home {

    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    font-size: 20px;
    /* margin-left: 10vw; */
    /* margin-top: 13vh; */
}

.home-content h2 {
    font-size: 2.7rem;
    font-weight: 700%;
}

span {
    color: rgba(249, 108, 7, 0.759);
}

.home-content h1 {
    font-size: 4.2rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.6rem;
    margin-top: 10px;
}



.photo img {
    width: 50vw;
    animation: flotImage 4s ease-in-out infinite;
}

@keyframes flotImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.social-media a i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 3rem;
    height: 3rem;
    border: .2rem solid rgba(249, 108, 7, 0.759);
    border-radius: 50%;
    font-size: 2rem;
    color: rgba(249, 108, 7, 0.759);
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s ease;

}

.social-media a i:hover {
    background: rgba(254, 118, 6, 0.969);
    color: rgba(0, 10, 10, 0.826);
    box-shadow: 0 0 1rem rgba(249, 108, 7, 0.759);
}

.social-media a {
    border: #1f242d solid;
    width: 50px;
    height: 30px;
}

.btn {
    display: inline-flex;
    padding: 1rem 2.9rem;
    background: rgba(249, 108, 7, 0.759);
    border-radius: 20px;
    box-shadow: 0 0 1rem rgba(249, 108, 7, 0.759);
    font-size: 1rem;
    color: #1f242d;
    font-weight: 700;
}

.btn:hover {
    box-shadow: none;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: #292e37f9;
    padding-bottom: 10vh;
}

.about-photo img {
    width: 25vw;


}

.heading {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 40px;
    margin-top: -12vh;
}

.about-content {
    text-align: center;
    font-size: 2rem;
    line-height: 1.5;

}

.about-content p {
    margin-bottom: 5vh;
}

#services {
    background-color: #333a48;


}

#services h2 {
    margin-bottom: 2rem;
    text-align: center;
    margin-top: -8vh;
    font-size: 4rem;
}

.service-box {
    margin-left: 28vw;
    width: 25vw;

    background: #252c36;
    padding: 1rem 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid rgba(249, 108, 7, 0.759);
    font-size: 1rem;
    line-height: 1.5;
}

.skill-box {
    /* width: 30vw; */
    /* margin-left: 5vw; */

    background: #2a303b;
    padding: 1rem 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid rgba(249, 108, 7, 0.759);
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 30px;
}

.service-box p {
    margin-bottom: 10px;
}

.skills {
    margin-top: 50px;
    /* width: 75vw; */
    /* height: 100vh; */
    /* left: 0px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 2vh;

    /* align-items: center;
    text-align: center; */
    /* column-gap: 30px; */


}

.skills p {
    margin-bottom: 10px;
}

#portfolio {
    background: #1f242d;

}

#portfolio h2 {
    margin-bottom: 4rem;
    font-size: 40px;
    text-align: center;
}

.protfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.protfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem black;
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .2s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .protfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(228, 149, 2, 0.842));
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    transform: translateY(100%);
    transition: .3s ease;

}

.portfolio-box:hover .protfolio-layer {
    transform: translateY(0);

}

.protfolio-layer h4 {
    font-size: 2rem;

}

.protfolio-layer p {
    font-size: 1rem;
}

.protfolio-layer a {
    /* margin-top: 30px; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 20%;
}

.protfolio-layer a i {
    font-size: 20px;
    color: #1f242d;
}

#contact {
    background: #282e3c;
}

#contact h2 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
}

#contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

#contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#contact form .input-box input,
#contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: wheat;
    background: #36425a;
    border-radius: .8rem;
    margin: .7rem 0;
}

#contact form .input-box input {
    width: 39%;
}

/* breakpoints */
@media (max-width:1200px) {
    html {
        font-size: 55%;
    }

}

@media (max-width:991px) {
    .header {
        padding: 2rem 3%;
    }

    .heading {
        margin-top: 5vh;

    }

    .service-box {
        margin-left: 33vw;
    }


    section {
        padding: 10rem 3% 2rem
    }

    #services {
        padding: 4rem;
    }

    .protfolio-container {
        padding: 4rem;
    }

    #contact {
        padding: 6rem;
    }


}

@media (max-width:768px) {
    #menu-icon {
        display: block;
    }

    .heading {
        margin-top: 5vh;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: #373c49;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    #home {
        flex-direction: column-reverse;


    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 3rem;
    }

    #home .photo {

        margin-top: 4rem;
        margin-left: -10vw;

    }

    #about {
        flex-direction: column;
    }

    .protfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .skills {
        grid-template-columns: repeat(2, 1fr);
    }

    #services h2 {
        margin-top: 5vh;
        /* margin-left: -6vw; */

    }

    .skill-box p {
        margin-bottom: 10px;
        font-size: 2rem;
        font-weight: 100%;
        margin-top: 10px;

    }

    .service-box h3 {
        font-size: 2rem;
    }

    .service-box p {
        margin-top: 5px;
        font-weight: 400;
        font-size: 2rem;
        margin-bottom: 5px;
    }

    .service-box {
        width: 40vw;
        margin-left: 25vw;
    }



}

@media (max-width:408px) {


    #home .photo {
        margin-top: 2vh;
        margin-left: -35vw;
    }

    .skills {
        grid-template-columns: repeat(1, 1fr);
    }

    .protfolio-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .skill-box p {
        margin-bottom: 10px;
        font-size: 1rem;
        font-weight: 100%;
        margin-top: 10px;

    }

    .skill-box h3 {
        font-size: 2rem;
        font-weight: 700;
    }

    .service-box p {
        font-size: 1rem;
    }

    .service-box {
        width: 40vw;
        margin-left: 20vw;
    }
}